html,
body {
    margin: 0;
    padding: 0;
    background: rgb(67, 92, 105);
    border: 3px solid #feaf41;
}

header {
    background: rgb(51, 62, 68);
    border-bottom: 5px solid #feaf41;
    color: #ffe3a0;
    padding: 0.5rem 15%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

h1,
h2 {
    font-family: helvetica;
    text-shadow: #fee3be 1px 0 10px;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2px;
    padding-top: 2px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form input,
form label,
form textarea {
  box-sizing: border-box;
  display: block;
  margin: 5px 0;
  width: 95%;
}

label {
    font-style: bold;
}

.single-movie {
    border: 2px solid #feaf41;
    background-color: #feaf41;
    display: block;
    margin: 10px 0;
    text-align: center;
    border-radius: 3%;
    box-shadow: #fee3be 5px 0 15px;
    color: rgb(51, 62, 68);
    margin-right: 10px;
}

.single-movie img {
    display: grid;
    margin: 0 auto;
    box-shadow: #f3d8b3 1px 0 50px;
}

h2 {
    color: #fee3be;
    width: 350px;
}
section label {
    color: #feaf41;
    margin-bottom: 15px;
}
div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    justify-self: center;
}

.single-movie button {
    background-color: rgb(99, 104, 106);
    color: #feaf41;  
    margin-bottom: 15px;
}


.new-movie button {
    background-color: #feaf41;
    color: rgb(51, 62, 68);
}

button {
    font-family: helvetica;
    letter-spacing: 0.1em;
    width: 150px;
    height: 40px;
}
h1 {
    font-size: 80px;
}
.new-movie {
    margin-left: 10px;
}

@media (max-width: 750px){
    main {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .new-movie {
        border-bottom: 2px ridge #feaf41;
    }
    .single-movie {
        width: 500px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    h2 {
        text-align: center;
        margin: 10px auto;
        /* padding: 0; */
        display: block;
    }
}